name: auto gh-pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: '14.21.3'
  
    - name: Build Root Project
      run: |
        npm install
        npm run build
  
    - name: Build Project example-vite2
      run: |
        cd example-vite2
        npm install
        npm run build

    - name: Run gh-pages
      run: |
        cd ../
        npm run gh-pages
