name: auto gh-pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: '14.21.3'
  
    - name: Build Root Project
      run: |
        npm install
        npm run build
  
    - name: Build Project example-vite2
      run: |
        cd example-vite2
        npm install
        npm run build

    - name: move gh-pages files
      run: |
        ls -a
        npm run gh-pages

    - name: deploy gh-pages files
      uses: JamesIves/github-pages-deploy-action@v4.3.3
      with:
        folder: docs
        branch: gh-pages
